.env
.venv
venv
__pycache__
**pycache**
**/__pycache__
*.pyc
*.pyo
*.pyd
.git
.gitignore
.dockerignore
backend/database.db
backend/database/generations.db
backend/database/database.db
*.db
.agents
.gemini
